body {
    font-family: Arial, sans-serif;
    background-image: url(img/010101001.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2d2d2d;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin-top: 5px;
  }


  
  .carousel-container {
    background-color: #ddf8ff;
    position: relative;
    max-width: 1000px;
    padding: 50px;
    margin: 50px auto;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .carousel-container h1{
    margin: 50px;
    padding: 10px;
    color: #000000;
    
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .card {
    min-width: 300px;
    margin: 0 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  a{
    text-decoration: none;
    color: #2d2d2d;
  }
  
  .card h3 {
    margin: 15px 0;
    font-size: 18px;
  }
  
  .prev, .next {
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  