* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/1555172.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

h1 {
    color: #eeeb34;
    font-size: 5rem;
    text-align: center;
    margin: 60px 40px;
}

.container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #666;
}
